{% extends 'index.html' %}

{% block title %}
Articles
{% endblock %}

{% block articles %}
{% if articles %}
    <h2>Articles:</h2>
    <div class="container">
        <div class="articles">
            {% for article in articles %}
                <div class="article">
                    <a href="/article/{{ article.id }}"><h3>{{ article.header }}</h3></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    We dont have any article here.
{% endif %}
    <div class="additional_content">
        You can <a href="/article">create</a>
    </div>
{% endblock %}
