body {
    margin: 0;
    padding: 0;
}
td {
    padding: 3px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
}

button {
    align-self: end;
}

.input {
    width: calc(100% - 10px);
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 3px;
    font-family: "Andale Mono";
}

.select {
    width: 100%;
    margin-top: 0;
}